<a href="https://colab.research.google.com/github/juliaaparecida120/PA_2025/blob/main/variaveiseoperadoresaritimeticos/variaveisconstantes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#variaveis e constantes

In [ ]:
idade = 15
altura = 1.66
nome = "julia aparecida"
vai = True

In [ ]:
nomes = ["julia aparecida", "emilly", "guilherme" ]
nomes2 = ("julia aparecida", "emilly", "guilherme")
# tudo = {nome:"julia aparecida", idade:15, altura:1.66, vai:True}

In [ ]:
print (nome)
print (nomes)
print (nomes2)

julia aparecida
['julia aparecida', 'emilly', 'guilherme']
('julia aparecida', 'emilly', 'guilherme')

In [ ]:
print (type(idade))
print (type(altura))
print (type(vai))
print (type(nome))
print (type(nomes))
print (type(nomes2))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'tuple'>

In [ ]:
print("o nome dela é:", nome, ",sua idade é:", idade, ",ela tem", altura, "metro")

o nome dela é: julia aparecida ,sua idade é: 15 ,ela tem 1.66 metro

area do circulo

In [ ]:
 PI = 3.14159
 raio = float(input("digite a area do circulo: "))

digite a area do circulo: 05

In [ ]:
areacir = PI *(raio**2)

In [ ]:
print(f"a area do circulo é {areacir}")

a area do circulo é 78.53975

In [ ]:
lado = float(input("digite o valor do lado do quadrado"))

digite o valor do lado do quadrado05

In [ ]:
areaqua = lado **2

In [ ]:
print(f"a area do quadrado é")